In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

sns.set_palette('colorblind')

In [4]:
full_df = pd.read_csv('../SQL Exercises/Zip_Zri_AllHomesPlusMultifamily.csv')

full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13181 entries, 0 to 13180
Columns: 120 entries, RegionID to 2020-01
dtypes: float64(113), int64(3), object(4)
memory usage: 12.1+ MB

In [5]:
full_df.describe()

,RegionID,RegionName,SizeRank,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
count,13181.000000,13181.000000,13181.000000,10837.000000,9330.000000,10439.000000,10586.000000,10593.000000,10658.000000,10609.000000,...,12726.000000,12728.000000,12774.000000,12768.000000,12813.000000,12823.00000,11336.000000,11722.000000,12770.000000,11881.000000
mean,81400.019725,48414.851908,6591.000000,1253.905786,1271.781243,1271.454162,1257.840922,1251.505995,1243.793676,1242.348478,...,1442.063964,1444.154698,1448.960232,1457.891291,1462.486771,1466.38002,1478.017731,1477.348575,1474.500626,1476.638330
std,33208.858050,29248.961859,3805.171284,714.683566,671.807496,628.490143,558.962209,551.022049,476.976711,475.280134,...,947.808801,952.096930,953.877735,975.317980,967.197829,971.51485,771.627586,848.145961,923.873070,852.807224
min,58196.000000,1001.000000,1.000000,500.000000,516.000000,422.000000,510.000000,427.000000,434.000000,499.000000,...,555.000000,556.000000,558.000000,554.000000,554.000000,556.00000,569.000000,575.000000,582.000000,578.000000
25%,68200.000000,24472.000000,3296.000000,917.000000,934.000000,944.000000,940.000000,935.000000,932.000000,929.000000,...,992.000000,993.000000,997.000000,1004.000000,1010.000000,1012.00000,1032.000000,1020.250000,1015.000000,1023.000000
50%,77414.000000,44709.000000,6591.000000,1109.000000,1136.000000,1144.000000,1136.000000,1131.000000,1126.000000,1125.000000,...,1279.500000,1281.500000,1287.000000,1294.000000,1298.000000,1300.00000,1328.000000,1324.000000,1318.000000,1327.000000
75%,91191.000000,75706.000000,9886.000000,1415.000000,1443.000000,1437.000000,1426.000000,1418.000000,1414.000000,1418.000000,...,1639.750000,1642.000000,1647.750000,1657.000000,1664.000000,1669.00000,1702.000000,1693.000000,1683.000000,1692.000000
max,753844.000000,99901.000000,13181.000000,31054.000000,30453.000000,28743.000000,28763.000000,28742.000000,9519.000000,9644.000000,...,35501.000000,35831.000000,35963.000000,36358.000000,36771.000000,37406.00000,37892.000000,34372.000000,35416.000000,32932.000000

In [7]:
for col in full_df.columns:
    print(col)

RegionID
RegionName
City
State
Metro
CountyName
SizeRank
2010-09
2010-10
2010-11
2010-12
2011-01
2011-02
2011-03
2011-04
2011-05
2011-06
2011-07
2011-08
2011-09
2011-10
2011-11
2011-12
2012-01
2012-02
2012-03
2012-04
2012-05
2012-06
2012-07
2012-08
2012-09
2012-10
2012-11
2012-12
2013-01
2013-02
2013-03
2013-04
2013-05
2013-06
2013-07
2013-08
2013-09
2013-10
2013-11
2013-12
2014-01
2014-02
2014-03
2014-04
2014-05
2014-06
2014-07
2014-08
2014-09
2014-10
2014-11
2014-12
2015-01
2015-02
2015-03
2015-04
2015-05
2015-06
2015-07
2015-08
2015-09
2015-10
2015-11
2015-12
2016-01
2016-02
2016-03
2016-04
2016-05
2016-06
2016-07
2016-08
2016-09
2016-10
2016-11
2016-12
2017-01
2017-02
2017-03
2017-04
2017-05
2017-06
2017-07
2017-08
2017-09
2017-10
2017-11
2017-12
2018-01
2018-02
2018-03
2018-04
2018-05
2018-06
2018-07
2018-08
2018-09
2018-10
2018-11
2018-12
2019-01
2019-02
2019-03
2019-04
2019-05
2019-06
2019-07
2019-08
2019-09
2019-10
2019-11
2019-12
2020-01

In [9]:
single_df = pd.read_csv('../SQL Exercises/Zip_Zri_SingleFamilyResidenceRental.csv')

single_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15836 entries, 0 to 15835
Columns: 111 entries, RegionID to 2019-06
dtypes: float64(62), int64(45), object(4)
memory usage: 13.4+ MB

In [10]:
single_df.describe()

,RegionID,RegionName,SizeRank,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,...,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06
count,15836.000000,15836.000000,15836.000000,14080.000000,14080.000000,14080.000000,14235.000000,14419.000000,14474.000000,14488.000000,...,15836.000000,15836.000000,15836.000000,15836.000000,15836.000000,15836.000000,15836.000000,15836.000000,15836.000000,15836.000000
mean,80794.891387,47889.373137,7918.500000,1411.398366,1410.866974,1407.877770,1400.471725,1392.547195,1388.184054,1389.145569,...,1571.923276,1574.917403,1584.451440,1596.403195,1605.365938,1608.125726,1609.551654,1611.684074,1612.387598,1615.845921
std,30556.546597,28942.688969,4571.603767,745.569690,744.696890,738.353482,728.695221,717.516467,712.572113,710.854867,...,909.163610,908.859189,909.643346,912.087062,913.961481,914.306359,914.935326,916.146722,919.137852,923.800389
min,58196.000000,1001.000000,1.000000,482.000000,487.000000,487.000000,486.000000,487.000000,490.000000,493.000000,...,524.000000,527.000000,549.000000,559.000000,561.000000,559.000000,559.000000,561.000000,561.000000,555.000000
25%,67596.750000,23152.250000,3959.750000,995.000000,996.000000,994.000000,989.000000,983.000000,978.000000,979.000000,...,1068.000000,1070.000000,1077.000000,1091.000000,1102.000000,1104.000000,1104.000000,1103.000000,1097.000000,1095.000000
50%,77949.500000,45882.500000,7918.500000,1215.000000,1220.000000,1220.000000,1216.000000,1214.000000,1212.000000,1211.000000,...,1340.000000,1342.000000,1349.000000,1361.000000,1371.000000,1375.000000,1376.000000,1378.500000,1381.000000,1386.000000
75%,90557.250000,74331.250000,11877.250000,1585.000000,1582.000000,1577.000000,1568.000000,1564.000000,1560.750000,1562.000000,...,1790.000000,1794.000000,1805.000000,1820.250000,1836.000000,1841.000000,1843.000000,1843.000000,1847.000000,1852.000000
max,738092.000000,99712.000000,15836.000000,16387.000000,16463.000000,16309.000000,16122.000000,15742.000000,15575.000000,15582.000000,...,21570.000000,21608.000000,21367.000000,21115.000000,20877.000000,20915.000000,20987.000000,21122.000000,21264.000000,21285.000000

In [12]:
multi_df = pd.read_csv('../SQL Exercises/Zip_Zri_MultiFamilyResidenceRental.csv')

multi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861 entries, 0 to 1860
Columns: 120 entries, RegionID to 2020-01
dtypes: float64(113), int64(3), object(4)
memory usage: 1.7+ MB

In [15]:
multi_df.describe

,RegionID,RegionName,SizeRank,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
count,1861.000000,1861.000000,1861.000000,728.000000,691.000000,738.000000,740.000000,710.000000,722.000000,732.000000,...,1564.000000,1598.000000,1623.000000,1654.000000,1668.000000,1705.000000,1528.000000,1575.000000,1618.000000,1607.000000
mean,79941.917786,47373.983342,931.000000,1341.089286,1333.994211,1343.094851,1346.445946,1337.508451,1335.185596,1337.397541,...,1636.154731,1633.275344,1640.393099,1648.356711,1667.882494,1657.188856,1678.632199,1653.819683,1659.628554,1655.571251
std,30096.210000,33625.053888,537.368744,525.076555,511.310252,511.744002,503.266930,489.689521,488.016673,488.147930,...,645.278229,646.652969,651.228244,656.683994,765.726254,656.368865,649.222517,636.357194,630.506606,623.317148
min,58207.000000,1013.000000,1.000000,477.000000,528.000000,543.000000,550.000000,550.000000,552.000000,517.000000,...,581.000000,581.000000,583.000000,585.000000,582.000000,585.000000,598.000000,619.000000,592.000000,582.000000
25%,63414.000000,14020.000000,466.000000,941.750000,921.500000,947.500000,946.750000,937.500000,945.250000,947.500000,...,1169.750000,1167.250000,1173.000000,1173.250000,1188.000000,1188.000000,1227.000000,1208.500000,1216.250000,1216.500000
50%,74145.000000,34787.000000,931.000000,1293.000000,1320.000000,1322.000000,1332.500000,1341.500000,1346.500000,1333.500000,...,1474.500000,1467.000000,1470.000000,1477.000000,1497.500000,1490.000000,1513.500000,1503.000000,1509.000000,1510.000000
75%,93279.000000,80033.000000,1396.000000,1607.500000,1605.000000,1608.750000,1618.250000,1595.000000,1587.000000,1582.250000,...,2072.000000,2069.750000,2067.500000,2072.250000,2074.250000,2080.000000,2091.250000,2062.500000,2077.750000,2088.000000
max,753844.000000,99701.000000,1861.000000,4130.000000,3801.000000,4385.000000,4141.000000,4161.000000,4163.000000,4090.000000,...,4390.000000,4392.000000,4422.000000,4455.000000,17943.000000,4501.000000,4488.000000,4599.000000,4241.000000,4193.000000

In [18]:
for _ in multi_df.isnull().sum():
    print(_)

0
0
0
0
3
0
0
1133
1170
1123
1121
1151
1139
1129
1114
1097
1092
1071
1057
1075
1083
1079
1103
1057
1057
1047
1056
1071
1057
1059
1032
1024
1017
1021
1004
1004
1001
1004
1001
1008
1013
1029
1018
1020
1028
1037
1025
1015
722
500
491
489
487
522
517
519
495
482
477
444
430
440
444
470
470
455
450
466
449
443
437
399
377
377
381
393
390
386
386
405
379
374
360
341
326
338
335
343
340
342
334
349
335
328
324
322
317
318
316
321
287
277
260
249
257
263
276
470
351
321
297
263
238
207
193
156
333
286
243
254

In [20]:
multi_df.shape

(1861, 120)