In [1]:
import numpy as np
import pandas as pd

In [2]:
total_df = pd.read_csv('../../JACOB/total_df.csv')
total_df_col_set = set(total_df.columns)

In [3]:
zips = total_df['zip_code'].unique()

In [4]:
total_df['Monthly_Avg_Zip'].eq(0).value_counts()

False    645
Name: Monthly_Avg_Zip, dtype: int64

In [5]:

year_begin, year_end = 2013, 2018
pct_change = lambda a, b: ((b-a) / a)
pct_change_dict = {}

for z in zips:
    a_df = total_df[ total_df['zip_code'] == z ]
    pct_change_array = []
    for y in range( year_begin, year_end):
        a, b = a_df[a_df['year'] == y]['Monthly_Avg_Zip'].sum(), a_df[a_df['year'] == y+1]['Monthly_Avg_Zip'].sum()
        
        if a > 0 and b > 0:
            pct_change_array.append( pct_change(a, b) )
        
        if len(pct_change_array) > 0:
            pct_change_dict[z] = np.median(pct_change_array)

In [7]:
mpi_df = pd.DataFrame.from_dict(pct_change_dict, orient='index')
mpi_df.reset_index(inplace=True)
mpi_df = mpi_df.rename(columns = {'index':'zip_code', 0:'median_pct_increase' })
mpi_df

     zip_code  median_pct_increase
0       33160             0.022971
1       33025             0.021003
2       33139             0.020404
3       32256             0.027058
4       33009             0.028284
..        ...                  ...
118     32765             0.051919
119     33578             0.022998
120     34747             0.061024
121     33605             0.275356
122     33172            -0.041376

[123 rows x 2 columns]

In [16]:
total_df2 = pd.merge(total_df,mpi_df, how='left', on='zip_code')
total_df2

,zip_code,Monthly_Avg_Zip,FL_Unemployment,year,total_pop,households,male_pop,female_pop,median_age,male_under_5,...,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,FLSTHPI_Yearly_Avg,median_pct_increase
0,33160,1866.833333,7.533333,2013,37674,19247,18472,19202,49.6,626,...,2773.0,7911.0,4713.0,935,1346,965,6471,2019,291.6550,0.022971
1,33025,1341.083333,7.533333,2013,57766,21206,27852,29914,32.9,2143,...,5448.0,10806.0,8948.0,2963,3682,3345,18163,4987,291.6550,0.021003
2,33139,1842.666667,7.533333,2013,38066,20883,22090,15976,38.1,981,...,7164.0,9995.0,4865.0,685,649,379,5387,1906,291.6550,0.020404
3,32256,947.750000,7.533333,2013,40024,18039,18865,21159,32.7,1084,...,2597.0,11070.0,6247.0,1638,1598,1629,10962,3429,291.6550,0.027058
4,33009,1443.416667,7.533333,2013,39889,19125,19256,20633,47.1,1213,...,3977.0,5087.0,4958.0,1335,1020,1249,6495,1885,291.6550,0.028284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,32828,1412.714286,3.625000,2018,65665,21327,30928,34737,34.0,1569,...,5583.0,15472.0,8267.0,3153,3359,4530,21487,5829,444.3875,NaN
641,33172,1747.571429,3.625000,2018,43083,13687,21261,21822,41.4,1422,...,4212.0,6942.0,7067.0,1744,1907,1736,9732,2452,444.3875,-0.041376
642,32827,1472.428571,3.625000,2018,9421,3498,4524,4897,37.1,96,...,628.0,2362.0,871.0,652,702,559,3109,720,444.3875,NaN
643,33611,1349.666667,3.625000,2018,31791,14838,15806,15985,41.5,1041,...,2479.0,8571.0,4273.0,1207,1227,1120,6596,1476,444.3875,NaN
644,33605,1433.500000,3.625000,2018,17457,7041,8207,9250,35.0,705,...,1863.0,1388.0,1781.0,692,1096,794,3907,728,444.3875,0.275356

In [17]:
total_df2 = total_df2.dropna()
total_df2

,zip_code,Monthly_Avg_Zip,FL_Unemployment,year,total_pop,households,male_pop,female_pop,median_age,male_under_5,...,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,FLSTHPI_Yearly_Avg,median_pct_increase
0,33160,1866.833333,7.533333,2013,37674,19247,18472,19202,49.6,626,...,2773.0,7911.0,4713.0,935,1346,965,6471,2019,291.6550,0.022971
1,33025,1341.083333,7.533333,2013,57766,21206,27852,29914,32.9,2143,...,5448.0,10806.0,8948.0,2963,3682,3345,18163,4987,291.6550,0.021003
2,33139,1842.666667,7.533333,2013,38066,20883,22090,15976,38.1,981,...,7164.0,9995.0,4865.0,685,649,379,5387,1906,291.6550,0.020404
3,32256,947.750000,7.533333,2013,40024,18039,18865,21159,32.7,1084,...,2597.0,11070.0,6247.0,1638,1598,1629,10962,3429,291.6550,0.027058
4,33009,1443.416667,7.533333,2013,39889,19125,19256,20633,47.1,1213,...,3977.0,5087.0,4958.0,1335,1020,1249,6495,1885,291.6550,0.028284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,33413,1447.583333,3.625000,2018,17473,5099,8493,8980,34.7,762,...,1737.0,2399.0,2423.0,1103,932,848,4875,1107,444.3875,0.021767
638,32204,1008.750000,3.625000,2018,7507,3825,3352,4155,34.0,110,...,454.0,2078.0,737.0,176,201,231,1237,269,444.3875,0.012807
639,32206,719.833333,3.625000,2018,16500,6767,7954,8546,37.4,431,...,2075.0,1476.0,1366.0,956,654,757,3743,809,444.3875,0.007578
641,33172,1747.571429,3.625000,2018,43083,13687,21261,21822,41.4,1422,...,4212.0,6942.0,7067.0,1744,1907,1736,9732,2452,444.3875,-0.041376
644,33605,1433.500000,3.625000,2018,17457,7041,8207,9250,35.0,705,...,1863.0,1388.0,1781.0,692,1096,794,3907,728,444.3875,0.275356

In [18]:
%store total_df2
total_df2.to_csv('../data/total_df2.csv', index=False)

Stored 'total_df2' (DataFrame)