In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns
sns.set_style("ticks")

In [4]:
!pwd

/home/koz/koz/NYCDSA/Capstone/zillow_rent_index/JOHN/notebooks

In [5]:
total_df = pd.read_csv('../../JACOB/total_df.csv')

In [6]:
total_df.shape

(480, 238)

In [7]:
total_df

,zip_code,Yearly_Avg_Zip,FL_Unemployment,year,Encoded_Zip,total_pop,households,male_pop,female_pop,median_age,...,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,FLSTHPI_Yearly_Avg
0,33160,1988.000000,5.525,2015,73,39235,19187,19087,20148,48.8,...,5554.0,1312,994,1283,6732,1737,12501.0,15531.0,7593.0,348.4425
1,33025,1433.250000,5.525,2015,41,60994,21770,28737,32257,33.4,...,9833.0,3150,3155,3604,18386,5038,31916.0,16088.0,6345.0,348.4425
2,33139,2046.250000,5.525,2015,61,38035,20149,20756,17279,38.8,...,5834.0,922,690,491,5580,1745,12882.0,17215.0,9157.0,348.4425
3,33024,1356.083333,5.525,2015,40,71860,22838,35172,36688,37.6,...,11047.0,3785,3863,3637,19756,5345,33887.0,27660.0,12738.0,348.4425
4,32256,1074.833333,5.525,2015,10,41609,18606,19462,22147,33.7,...,6483.0,1854,1751,1887,10474,2926,28801.0,3365.0,1401.0,348.4425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,32828,1412.714286,3.625,2018,31,65665,21327,30928,34737,34.0,...,8267.0,3153,3359,4530,21487,5829,NaN,NaN,NaN,444.3875
476,33172,1747.571429,3.625,2018,75,43083,13687,21261,21822,41.4,...,7067.0,1744,1907,1736,9732,2452,NaN,NaN,NaN,444.3875
477,32827,1472.428571,3.625,2018,30,9421,3498,4524,4897,37.1,...,871.0,652,702,559,3109,720,NaN,NaN,NaN,444.3875
478,33611,1349.666667,3.625,2018,118,31791,14838,15806,15985,41.5,...,4273.0,1207,1227,1120,6596,1476,NaN,NaN,NaN,444.3875
479,33605,1433.500000,3.625,2018,115,17457,7041,8207,9250,35.0,...,1781.0,692,1096,794,3907,728,NaN,NaN,NaN,444.3875

In [8]:
for s in total_df.columns:
    print(s)

zip_code
Yearly_Avg_Zip
FL_Unemployment
year
Encoded_Zip
total_pop
households
male_pop
female_pop
median_age
male_under_5
male_5_to_9
male_10_to_14
male_15_to_17
male_18_to_19
male_20
male_21
male_22_to_24
male_25_to_29
male_30_to_34
male_35_to_39
male_40_to_44
male_45_to_49
male_50_to_54
male_55_to_59
male_65_to_66
male_67_to_69
male_70_to_74
male_75_to_79
male_80_to_84
male_85_and_over
female_under_5
female_5_to_9
female_10_to_14
female_15_to_17
female_18_to_19
female_20
female_21
female_22_to_24
female_25_to_29
female_30_to_34
female_35_to_39
female_40_to_44
female_45_to_49
female_50_to_54
female_55_to_59
female_60_to_61
female_62_to_64
female_65_to_66
female_67_to_69
female_70_to_74
female_75_to_79
female_80_to_84
female_85_and_over
white_pop
population_1_year_and_over
population_3_years_over
pop_5_years_over
pop_16_over
pop_25_years_over
pop_25_64
not_us_citizen_pop
black_pop
asian_pop
hispanic_pop
amerindian_pop
other_race_pop
two_or_more_races_pop
hispanic_any_race
not_hispanic_pop
asian_male_45_54
asian_male_55_64
black_male_45_54
black_male_55_64
hispanic_male_45_54
hispanic_male_55_64
white_male_45_54
white_male_55_64
median_income
income_per_capita
income_less_10000
income_10000_14999
income_15000_19999
income_20000_24999
income_25000_29999
income_30000_34999
income_35000_39999
income_40000_44999
income_45000_49999
income_50000_59999
income_60000_74999
income_75000_99999
income_100000_124999
income_125000_149999
income_150000_199999
income_200000_or_more
pop_determined_poverty_status
poverty
gini_index
housing_units
renter_occupied_housing_units_paying_cash_median_gross_rent
owner_occupied_housing_units_lower_value_quartile
owner_occupied_housing_units_median_value
owner_occupied_housing_units_upper_value_quartile
occupied_housing_units
housing_units_renter_occupied
vacant_housing_units
vacant_housing_units_for_rent
vacant_housing_units_for_sale
dwellings_1_units_detached
dwellings_1_units_attached
dwellings_2_units
dwellings_3_to_4_units
dwellings_5_to_9_units
dwellings_10_to_19_units
dwellings_20_to_49_units
dwellings_50_or_more_units
mobile_homes
housing_built_2005_or_later
housing_built_2000_to_2004
housing_built_1939_or_earlier
median_year_structure_built
married_households
nonfamily_households
family_households
households_public_asst_or_food_stamps
male_male_households
female_female_households
children
children_in_single_female_hh
median_rent
percent_income_spent_on_rent
rent_burden_not_computed
rent_over_50_percent
rent_40_to_50_percent
rent_35_to_40_percent
rent_30_to_35_percent
rent_25_to_30_percent
rent_20_to_25_percent
rent_15_to_20_percent
rent_10_to_15_percent
rent_under_10_percent
owner_occupied_housing_units
million_dollar_housing_units
mortgaged_housing_units
different_house_year_ago_different_city
different_house_year_ago_same_city
families_with_young_children
two_parent_families_with_young_children
two_parents_in_labor_force_families_with_young_children
two_parents_father_in_labor_force_families_with_young_children
two_parents_mother_in_labor_force_families_with_young_children
two_parents_not_in_labor_force_families_with_young_children
one_parent_families_with_young_children
father_one_parent_families_with_young_children
father_in_labor_force_one_parent_families_with_young_children
commute_less_10_mins
commute_10_14_mins
commute_15_19_mins
commute_20_24_mins
commute_25_29_mins
commute_30_34_mins
commute_35_44_mins
commute_60_more_mins
commute_45_59_mins
commuters_16_over
walked_to_work
worked_at_home
no_car
no_cars
one_car
two_cars
three_cars
four_more_cars
aggregate_travel_time_to_work
commuters_by_public_transportation
commuters_by_bus
commuters_by_car_truck_van
commuters_by_carpool
commuters_by_subway_or_elevated
commuters_drove_alone
group_quarters
associates_degree
bachelors_degree
high_school_diploma
less_one_year_college
masters_degree
one_year_more_college
less_than_high_school_graduate
high_school_including_ged
bachelors_degree_2
bachelors_degree_or_higher_25_64
graduate_professional_degree
some_college_and_associates_degree
male_45_64_associates_degree
male_45_64_bachelors_degree
male_45_64_graduate_degree
male_45_64_less_than_9_grade
male_45_64_grade_9_12
male_45_64_high_school
male_45_64_some_college
male_45_to_64
employed_pop
unemployed_pop
pop_in_labor_force
not_in_labor_force
workers_16_and_over
armed_forces
civilian_labor_force
employed_agriculture_forestry_fishing_hunting_mining
employed_arts_entertainment_recreation_accommodation_food
employed_construction
employed_education_health_social
employed_finance_insurance_real_estate
employed_information
employed_manufacturing
employed_other_services_not_public_admin
employed_public_administration
employed_retail_trade
employed_science_management_admin_waste
employed_transportation_warehousing_utilities
employed_wholesale_trade
occupation_management_arts
occupation_natural_resources_construction_maintenance
occupation_production_transportation_material
occupation_sales_office
occupation_services
management_business_sci_arts_employed
sales_office_employed
in_grades_1_to_4
in_grades_5_to_8
in_grades_9_to_12
in_school
in_undergrad_college
speak_only_english_at_home
speak_spanish_at_home
speak_spanish_at_home_low_english
FLSTHPI_Yearly_Avg

In [9]:
total_df['zip_code'].nunique(), total_df['zip_code'].unique()

(127,
 array([33160, 33025, 33139, 33024, 32256, 33009, 32822, 33186, 33064,
        33027, 33311, 33313, 32225, 32246, 33157, 32792, 33511, 32825,
        33414, 32771, 33433, 33436, 33141, 33324, 33178, 32839, 33308,
        34698, 33418, 33312, 33065, 33020, 33125, 32837, 33615, 33617,
        33142, 33062, 33612, 32703, 33180, 33130, 32835, 33126, 32224,
        33161, 33435, 33134, 33196, 33461, 32714, 33131, 32207, 33401,
        33771, 32811, 33133, 33702, 33604, 33613, 33147, 32209, 33135,
        33010, 33060, 33756, 32812, 32250, 32205, 33140, 33404, 34683,
        33137, 33143, 33334, 33705, 33432, 32810, 33460, 33138, 32807,
        33407, 33626, 32806, 33304, 33701, 33607, 33712, 33510, 33755,
        33145, 32701, 33314, 32803, 33301, 32801, 33706, 33708, 33066,
        33716, 33602, 33444, 33127, 33150, 33606, 33132, 32206, 33634,
        33305, 33413, 32204, 33759, 33033, 33179, 32821, 33154, 33156,
        33323, 32765, 33578, 34747, 33605, 33172, 32751, 32828, 32827,
        33611]))

In [10]:
total_df['year'].nunique(), total_df['year'].unique()

(4, array([2015, 2016, 2017, 2018]))

In [12]:
df_2015 = total_df[total_df['year'] == 2015]
df_2015.shape

(112, 238)

In [13]:
df_2016 = total_df[total_df['year'] == 2016]
df_2017 = total_df[total_df['year'] == 2017]
df_2018 = total_df[total_df['year'] == 2018]

In [17]:
summary_df_2015 = df_2015[[
            'white_pop', 'total_pop', 'gini_index', 'commuters_by_bus', 'children',
            'median_rent', 'median_income', 'in_undergrad_college',
            'vacant_housing_units_for_rent', 'vacant_housing_units_for_sale', 'nonfamily_households'
    ]]

In [18]:
summary_df_2015.shape, summary_df_2015.dtypes

((112, 11),
 white_pop                          int64
 total_pop                          int64
 gini_index                       float64
 commuters_by_bus                 float64
 children                           int64
 median_rent                      float64
 median_income                    float64
 in_undergrad_college               int64
 vacant_housing_units_for_rent      int64
 vacant_housing_units_for_sale      int64
 nonfamily_households               int64
 dtype: object)

In [21]:
summary_df_2015 = summary_df_2015.dropna()
print(summary_df_2015.shape)

summary_df_2015_Y = summary_df_2015[['median_rent']]
summary_df_2015_X = summary_df_2015.drop('median_rent', axis=1 )
summary_df_2015_X.shape, summary_df_2015_Y.shape

(112, 11)

((112, 10), (112, 1))

In [23]:
from sklearn import linear_model
ols = linear_model.LinearRegression()
ols.fit(summary_df_2015_X, summary_df_2015_Y)

LinearRegression()

In [24]:
print('Intercept: \n', ols.intercept_)
print('Coefficients: \n', ols.coef_)

Intercept:
 [-10.73884925]
Coefficients:
 [[-1.44561987e-02  7.62900970e-03  3.27765163e+02 -2.47435519e-02
  -1.58334712e-02  1.60427491e-02  3.45440436e-03 -4.60442921e-02
  -3.25023700e-03  2.54816484e-02]]